web/WEB-INF/wsdl/localhost_8080/bookstore-soap-ws/Bookstore.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.salah.dev/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.salah.dev/">

<xs:element name="createBook" type="tns:createBook"/>

<xs:element name="createBookResponse" type="tns:createBookResponse"/>

<xs:element name="createCart" type="tns:createCart"/>

<xs:element name="createCartResponse" type="tns:createCartResponse"/>

<xs:element name="createCategory" type="tns:createCategory"/>

<xs:element name="createCategoryResponse" type="tns:createCategoryResponse"/>

<xs:element name="createUser" type="tns:createUser"/>

<xs:element name="createUserResponse" type="tns:createUserResponse"/>

<xs:element name="editBook" type="tns:editBook"/>

<xs:element name="editBookResponse" type="tns:editBookResponse"/>

<xs:element name="editCart" type="tns:editCart"/>

<xs:element name="editCartResponse" type="tns:editCartResponse"/>

<xs:element name="editCategory" type="tns:editCategory"/>

<xs:element name="editCategoryResponse" type="tns:editCategoryResponse"/>

<xs:element name="editUser" type="tns:editUser"/>

<xs:element name="editUserResponse" type="tns:editUserResponse"/>

<xs:element name="findAllBooks" type="tns:findAllBooks"/>

<xs:element name="findAllBooksResponse" type="tns:findAllBooksResponse"/>

<xs:element name="findAllCarts" type="tns:findAllCarts"/>

<xs:element name="findAllCartsResponse" type="tns:findAllCartsResponse"/>

<xs:element name="findAllCategories" type="tns:findAllCategories"/>

<xs:element name="findAllCategoriesResponse" type="tns:findAllCategoriesResponse"/>

<xs:element name="findAllUsers" type="tns:findAllUsers"/>

<xs:element name="findAllUsersResponse" type="tns:findAllUsersResponse"/>

<xs:element name="findBook" type="tns:findBook"/>

<xs:element name="findBookResponse" type="tns:findBookResponse"/>

<xs:element name="findByCart" type="tns:findByCart"/>

<xs:element name="findByCartResponse" type="tns:findByCartResponse"/>

<xs:element name="findByCategoryID" type="tns:findByCategoryID"/>

<xs:element name="findByCategoryIDResponse" type="tns:findByCategoryIDResponse"/>

<xs:element name="findByEmail" type="tns:findByEmail"/>

<xs:element name="findByEmailResponse" type="tns:findByEmailResponse"/>

<xs:element name="findByUserId" type="tns:findByUserId"/>

<xs:element name="findByUserIdResponse" type="tns:findByUserIdResponse"/>

<xs:element name="findCart" type="tns:findCart"/>

<xs:element name="findCartResponse" type="tns:findCartResponse"/>

<xs:element name="findCategory" type="tns:findCategory"/>

<xs:element name="findCategoryResponse" type="tns:findCategoryResponse"/>

<xs:element name="findUser" type="tns:findUser"/>

<xs:element name="findUserResponse" type="tns:findUserResponse"/>

<xs:element name="removeBook" type="tns:removeBook"/>

<xs:element name="removeBookResponse" type="tns:removeBookResponse"/>

<xs:element name="removeByCart" type="tns:removeByCart"/>

<xs:element name="removeByCartResponse" type="tns:removeByCartResponse"/>

<xs:element name="removeByUserID" type="tns:removeByUserID"/>

<xs:element name="removeByUserIDResponse" type="tns:removeByUserIDResponse"/>

<xs:element name="removeCart" type="tns:removeCart"/>

<xs:element name="removeCartResponse" type="tns:removeCartResponse"/>

<xs:element name="removeCategory" type="tns:removeCategory"/>

<xs:element name="removeCategoryResponse" type="tns:removeCategoryResponse"/>

<xs:element name="removeUser" type="tns:removeUser"/>

<xs:element name="removeUserResponse" type="tns:removeUserResponse"/>

<xs:complexType name="findCategory">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeByCart">
<xs:sequence>
<xs:element name="uid" type="xs:int" minOccurs="0"/>
<xs:element name="bid" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeByCartResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createCart">
<xs:sequence>
<xs:element name="category" type="tns:cart" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cart">
<xs:sequence>
<xs:element name="bookId" type="tns:book" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="userId" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="book">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="categoryID" type="tns:category" minOccurs="0"/>
<xs:element name="count" type="xs:int" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="information" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="thumbnail" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="photo" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCartResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllBooks">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllBooksResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUser">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editBook">
<xs:sequence>
<xs:element name="book" type="tns:book" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editBookResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createUser">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findBook">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findBookResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeBook">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeBookResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findByCategoryID">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByCategoryIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editCart">
<xs:sequence>
<xs:element name="category" type="tns:cart" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editCartResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findByEmail">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByEmailResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCart">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCartResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="removeByUserID">
<xs:sequence>
<xs:element name="uid" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeByUserIDResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="editUser">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="editCategory">
<xs:sequence>
<xs:element name="category" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editCategoryResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findCart">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCartResponse">
<xs:sequence>
<xs:element name="return" type="tns:cart" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCategory">
<xs:sequence>
<xs:element name="category" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCategoryResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCategory">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCategoryResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findByUserId">
<xs:sequence>
<xs:element name="uid" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByUserIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:cart" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllCarts">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllCartsResponse">
<xs:sequence>
<xs:element name="return" type="tns:cart" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByCart">
<xs:sequence>
<xs:element name="uid" type="xs:int" minOccurs="0"/>
<xs:element name="bid" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByCartResponse">
<xs:sequence>
<xs:element name="return" type="tns:cart" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllCategories">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllCategoriesResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBook">
<xs:sequence>
<xs:element name="book" type="tns:book" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBookResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="removeUser">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeUserResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>