web/WEB-INF/wsdl/localhost_8080/bookstore-soap-ws/UsersSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.salah.dev/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.salah.dev/" name="UsersSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://services.salah.dev/" schemaLocation="http://localhost:8080/bookstore-soap-ws/UsersSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="removeResponse">
<part name="parameters" element="tns:removeResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="editResponse">
<part name="parameters" element="tns:editResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<portType name="UsersSOAP">
<operation name="remove">
<input wsam:Action="http://services.salah.dev/UsersSOAP/removeRequest" message="tns:remove"/>
<output wsam:Action="http://services.salah.dev/UsersSOAP/removeResponse" message="tns:removeResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://services.salah.dev/UsersSOAP/editRequest" message="tns:edit"/>
<output wsam:Action="http://services.salah.dev/UsersSOAP/editResponse" message="tns:editResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://services.salah.dev/UsersSOAP/createRequest" message="tns:create"/>
<output wsam:Action="http://services.salah.dev/UsersSOAP/createResponse" message="tns:createResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://services.salah.dev/UsersSOAP/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://services.salah.dev/UsersSOAP/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://services.salah.dev/UsersSOAP/findRequest" message="tns:find"/>
<output wsam:Action="http://services.salah.dev/UsersSOAP/findResponse" message="tns:findResponse"/>
</operation>
</portType>
<binding name="UsersSOAPPortBinding" type="tns:UsersSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsersSOAP">
<port name="UsersSOAPPort" binding="tns:UsersSOAPPortBinding">
<soap:address location="http://localhost:8080/bookstore-soap-ws/UsersSOAP"/>
</port>
</service>
</definitions>