src/conf/xml-resources/web-service-references/Bookstore/wsdl/localhost_8080/bookstore-soap-ws/Bookstore.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.salah.dev/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.salah.dev/" name="Bookstore">
<types>
<xsd:schema>
<xsd:import namespace="http://services.salah.dev/" schemaLocation="http://localhost:8080/bookstore-soap-ws/Bookstore?xsd=1"/>
</xsd:schema>
</types>
<message name="removeUser">
<part name="parameters" element="tns:removeUser"/>
</message>
<message name="removeUserResponse">
<part name="parameters" element="tns:removeUserResponse"/>
</message>
<message name="editBook">
<part name="parameters" element="tns:editBook"/>
</message>
<message name="editBookResponse">
<part name="parameters" element="tns:editBookResponse"/>
</message>
<message name="findAllBooks">
<part name="parameters" element="tns:findAllBooks"/>
</message>
<message name="findAllBooksResponse">
<part name="parameters" element="tns:findAllBooksResponse"/>
</message>
<message name="createCategory">
<part name="parameters" element="tns:createCategory"/>
</message>
<message name="createCategoryResponse">
<part name="parameters" element="tns:createCategoryResponse"/>
</message>
<message name="editCategory">
<part name="parameters" element="tns:editCategory"/>
</message>
<message name="editCategoryResponse">
<part name="parameters" element="tns:editCategoryResponse"/>
</message>
<message name="removeCart">
<part name="parameters" element="tns:removeCart"/>
</message>
<message name="removeCartResponse">
<part name="parameters" element="tns:removeCartResponse"/>
</message>
<message name="findAllUsers">
<part name="parameters" element="tns:findAllUsers"/>
</message>
<message name="findAllUsersResponse">
<part name="parameters" element="tns:findAllUsersResponse"/>
</message>
<message name="findUser">
<part name="parameters" element="tns:findUser"/>
</message>
<message name="findUserResponse">
<part name="parameters" element="tns:findUserResponse"/>
</message>
<message name="createBook">
<part name="parameters" element="tns:createBook"/>
</message>
<message name="createBookResponse">
<part name="parameters" element="tns:createBookResponse"/>
</message>
<message name="findBook">
<part name="parameters" element="tns:findBook"/>
</message>
<message name="findBookResponse">
<part name="parameters" element="tns:findBookResponse"/>
</message>
<message name="findCategory">
<part name="parameters" element="tns:findCategory"/>
</message>
<message name="findCategoryResponse">
<part name="parameters" element="tns:findCategoryResponse"/>
</message>
<message name="removeCategory">
<part name="parameters" element="tns:removeCategory"/>
</message>
<message name="removeCategoryResponse">
<part name="parameters" element="tns:removeCategoryResponse"/>
</message>
<message name="removeBook">
<part name="parameters" element="tns:removeBook"/>
</message>
<message name="removeBookResponse">
<part name="parameters" element="tns:removeBookResponse"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"/>
</message>
<message name="findByCategoryID">
<part name="parameters" element="tns:findByCategoryID"/>
</message>
<message name="findByCategoryIDResponse">
<part name="parameters" element="tns:findByCategoryIDResponse"/>
</message>
<message name="findAllCarts">
<part name="parameters" element="tns:findAllCarts"/>
</message>
<message name="findAllCartsResponse">
<part name="parameters" element="tns:findAllCartsResponse"/>
</message>
<message name="editUser">
<part name="parameters" element="tns:editUser"/>
</message>
<message name="editUserResponse">
<part name="parameters" element="tns:editUserResponse"/>
</message>
<message name="createCart">
<part name="parameters" element="tns:createCart"/>
</message>
<message name="createCartResponse">
<part name="parameters" element="tns:createCartResponse"/>
</message>
<message name="findCart">
<part name="parameters" element="tns:findCart"/>
</message>
<message name="findCartResponse">
<part name="parameters" element="tns:findCartResponse"/>
</message>
<message name="editCart">
<part name="parameters" element="tns:editCart"/>
</message>
<message name="editCartResponse">
<part name="parameters" element="tns:editCartResponse"/>
</message>
<message name="removeByUserID">
<part name="parameters" element="tns:removeByUserID"/>
</message>
<message name="removeByUserIDResponse">
<part name="parameters" element="tns:removeByUserIDResponse"/>
</message>
<message name="findByUserId">
<part name="parameters" element="tns:findByUserId"/>
</message>
<message name="findByUserIdResponse">
<part name="parameters" element="tns:findByUserIdResponse"/>
</message>
<message name="removeByCart">
<part name="parameters" element="tns:removeByCart"/>
</message>
<message name="removeByCartResponse">
<part name="parameters" element="tns:removeByCartResponse"/>
</message>
<message name="findByCart">
<part name="parameters" element="tns:findByCart"/>
</message>
<message name="findByCartResponse">
<part name="parameters" element="tns:findByCartResponse"/>
</message>
<message name="findByEmail">
<part name="parameters" element="tns:findByEmail"/>
</message>
<message name="findByEmailResponse">
<part name="parameters" element="tns:findByEmailResponse"/>
</message>
<message name="findAllCategories">
<part name="parameters" element="tns:findAllCategories"/>
</message>
<message name="findAllCategoriesResponse">
<part name="parameters" element="tns:findAllCategoriesResponse"/>
</message>
<portType name="Bookstore">
<operation name="removeUser">
<input wsam:Action="http://services.salah.dev/Bookstore/removeUserRequest" message="tns:removeUser"/>
<output wsam:Action="http://services.salah.dev/Bookstore/removeUserResponse" message="tns:removeUserResponse"/>
</operation>
<operation name="editBook">
<input wsam:Action="http://services.salah.dev/Bookstore/editBookRequest" message="tns:editBook"/>
<output wsam:Action="http://services.salah.dev/Bookstore/editBookResponse" message="tns:editBookResponse"/>
</operation>
<operation name="findAllBooks">
<input wsam:Action="http://services.salah.dev/Bookstore/findAllBooksRequest" message="tns:findAllBooks"/>
<output wsam:Action="http://services.salah.dev/Bookstore/findAllBooksResponse" message="tns:findAllBooksResponse"/>
</operation>
<operation name="createCategory">
<input wsam:Action="http://services.salah.dev/Bookstore/createCategoryRequest" message="tns:createCategory"/>
<output wsam:Action="http://services.salah.dev/Bookstore/createCategoryResponse" message="tns:createCategoryResponse"/>
</operation>
<operation name="editCategory">
<input wsam:Action="http://services.salah.dev/Bookstore/editCategoryRequest" message="tns:editCategory"/>
<output wsam:Action="http://services.salah.dev/Bookstore/editCategoryResponse" message="tns:editCategoryResponse"/>
</operation>
<operation name="removeCart">
<input wsam:Action="http://services.salah.dev/Bookstore/removeCartRequest" message="tns:removeCart"/>
<output wsam:Action="http://services.salah.dev/Bookstore/removeCartResponse" message="tns:removeCartResponse"/>
</operation>
<operation name="findAllUsers">
<input wsam:Action="http://services.salah.dev/Bookstore/findAllUsersRequest" message="tns:findAllUsers"/>
<output wsam:Action="http://services.salah.dev/Bookstore/findAllUsersResponse" message="tns:findAllUsersResponse"/>
</operation>
<operation name="findUser">
<input wsam:Action="http://services.salah.dev/Bookstore/findUserRequest" message="tns:findUser"/>
<output wsam:Action="http://services.salah.dev/Bookstore/findUserResponse" message="tns:findUserResponse"/>
</operation>
<operation name="createBook">
<input wsam:Action="http://services.salah.dev/Bookstore/createBookRequest" message="tns:createBook"/>
<output wsam:Action="http://services.salah.dev/Bookstore/createBookResponse" message="tns:createBookResponse"/>
</operation>
<operation name="findBook">
<input wsam:Action="http://services.salah.dev/Bookstore/findBookRequest" message="tns:findBook"/>
<output wsam:Action="http://services.salah.dev/Bookstore/findBookResponse" message="tns:findBookResponse"/>
</operation>
<operation name="findCategory">
<input wsam:Action="http://services.salah.dev/Bookstore/findCategoryRequest" message="tns:findCategory"/>
<output wsam:Action="http://services.salah.dev/Bookstore/findCategoryResponse" message="tns:findCategoryResponse"/>
</operation>
<operation name="removeCategory">
<input wsam:Action="http://services.salah.dev/Bookstore/removeCategoryRequest" message="tns:removeCategory"/>
<output wsam:Action="http://services.salah.dev/Bookstore/removeCategoryResponse" message="tns:removeCategoryResponse"/>
</operation>
<operation name="removeBook">
<input wsam:Action="http://services.salah.dev/Bookstore/removeBookRequest" message="tns:removeBook"/>
<output wsam:Action="http://services.salah.dev/Bookstore/removeBookResponse" message="tns:removeBookResponse"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://services.salah.dev/Bookstore/createUserRequest" message="tns:createUser"/>
<output wsam:Action="http://services.salah.dev/Bookstore/createUserResponse" message="tns:createUserResponse"/>
</operation>
<operation name="findByCategoryID">
<input wsam:Action="http://services.salah.dev/Bookstore/findByCategoryIDRequest" message="tns:findByCategoryID"/>
<output wsam:Action="http://services.salah.dev/Bookstore/findByCategoryIDResponse" message="tns:findByCategoryIDResponse"/>
</operation>
<operation name="findAllCarts">
<input wsam:Action="http://services.salah.dev/Bookstore/findAllCartsRequest" message="tns:findAllCarts"/>
<output wsam:Action="http://services.salah.dev/Bookstore/findAllCartsResponse" message="tns:findAllCartsResponse"/>
</operation>
<operation name="editUser">
<input wsam:Action="http://services.salah.dev/Bookstore/editUserRequest" message="tns:editUser"/>
<output wsam:Action="http://services.salah.dev/Bookstore/editUserResponse" message="tns:editUserResponse"/>
</operation>
<operation name="createCart">
<input wsam:Action="http://services.salah.dev/Bookstore/createCartRequest" message="tns:createCart"/>
<output wsam:Action="http://services.salah.dev/Bookstore/createCartResponse" message="tns:createCartResponse"/>
</operation>
<operation name="findCart">
<input wsam:Action="http://services.salah.dev/Bookstore/findCartRequest" message="tns:findCart"/>
<output wsam:Action="http://services.salah.dev/Bookstore/findCartResponse" message="tns:findCartResponse"/>
</operation>
<operation name="editCart">
<input wsam:Action="http://services.salah.dev/Bookstore/editCartRequest" message="tns:editCart"/>
<output wsam:Action="http://services.salah.dev/Bookstore/editCartResponse" message="tns:editCartResponse"/>
</operation>
<operation name="removeByUserID">
<input wsam:Action="http://services.salah.dev/Bookstore/removeByUserIDRequest" message="tns:removeByUserID"/>
<output wsam:Action="http://services.salah.dev/Bookstore/removeByUserIDResponse" message="tns:removeByUserIDResponse"/>
</operation>
<operation name="findByUserId">
<input wsam:Action="http://services.salah.dev/Bookstore/findByUserIdRequest" message="tns:findByUserId"/>
<output wsam:Action="http://services.salah.dev/Bookstore/findByUserIdResponse" message="tns:findByUserIdResponse"/>
</operation>
<operation name="removeByCart">
<input wsam:Action="http://services.salah.dev/Bookstore/removeByCartRequest" message="tns:removeByCart"/>
<output wsam:Action="http://services.salah.dev/Bookstore/removeByCartResponse" message="tns:removeByCartResponse"/>
</operation>
<operation name="findByCart">
<input wsam:Action="http://services.salah.dev/Bookstore/findByCartRequest" message="tns:findByCart"/>
<output wsam:Action="http://services.salah.dev/Bookstore/findByCartResponse" message="tns:findByCartResponse"/>
</operation>
<operation name="findByEmail">
<input wsam:Action="http://services.salah.dev/Bookstore/findByEmailRequest" message="tns:findByEmail"/>
<output wsam:Action="http://services.salah.dev/Bookstore/findByEmailResponse" message="tns:findByEmailResponse"/>
</operation>
<operation name="findAllCategories">
<input wsam:Action="http://services.salah.dev/Bookstore/findAllCategoriesRequest" message="tns:findAllCategories"/>
<output wsam:Action="http://services.salah.dev/Bookstore/findAllCategoriesResponse" message="tns:findAllCategoriesResponse"/>
</operation>
</portType>
<binding name="BookstorePortBinding" type="tns:Bookstore">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByCategoryID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllCarts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeByUserID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByUserId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeByCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Bookstore">
<port name="BookstorePort" binding="tns:BookstorePortBinding">
<soap:address location="http://localhost:8080/bookstore-soap-ws/Bookstore"/>
</port>
</service>
</definitions>